<apex:page showHeader="false" standardStylesheets="false" controller="BiogenViewAllCtrlKP">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Biogen</title>
	<apex:includeScript value="{!URLFOR($Resource.VendorJS, 'vendor/jquery.min.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.VendorJS, 'vendor/bootstrap/css/bootstrap.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.VendorJS, 'vendor/bootstrap/js/bootstrap.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.VendorJS, 'vendor/json2.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.VendorJS, 'vendor/underscore.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.VendorJS, 'vendor/backbone.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.BiogenViewAllKP)}"/>
</head>
<style type="text/css">
	.sidebar {
		top: 48px;
		bottom: 0;
		left: 0;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #e9e8e8;
		border-right: 1px solid #e0e2e4;
		border-left: 1px solid #e0e2e4;
		border-bottom: 1px solid #e0e2e4;
	}
	.sidebar .section {
		padding: 6px 12px;
	}
	.main {
		top: 38px;
	}
	.img-responsive {
		height: 75px;
	}
	.placeholder {
		padding: 6px 10px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
		-webkit-border-radius: 6px; 

		/* Firefox 1-3.6 */
		-moz-border-radius: 6px; 

		/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 6px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
	}
	#toTop {
		background-image: url(http://dtkbsrwsyfqsu.cloudfront.net/skin/frontend/rwd/default/images/icon_sprite.png);
		background-position: -3px -677px;
		bottom: 10%;
		color: #333;
		cursor: pointer;
		display: none;
		font-family: 'open sans';
		font-size: 0;
		height: 45px;
		padding: 5px;
		position: fixed;
		right: 12px;
		text-align: center;
		width: 34px;
		z-index: 99;
	}
</style>
<script type="text/javascript"> 
	var remotingErrorMsg = "Remote Action Call Error";
	var ViewAll = Biogen_ViewAll($, remotingErrorMsg, '{!$RemoteAction.BiogenViewAllCtrlKP.getViewAllData}');
	var ViewAll_Collection = ViewAll.getCollection();
	var ViewAll_View = ViewAll.getCenterView();
	var collection = new ViewAll_Collection();
	
	$(document).ready(function() {
		$('#errorPanel').hide();
		$('#centerPanel').hide(); 
            //$('div.loader').show();
            
            var centerView = new ViewAll_View({
            	el: '#centerPanel',
            	collection: collection
            });

            $('#toTop').click(function () {
            	$("html, body").animate({
            		scrollTop: 0
            	}, 1000);
            	return false;
            });
        });
    </script>
    <body id="pgBody">
    	<div class="container">
    		<div class="loader"></div>
    		<nav class="navbar navbar-inverse navbar-fixed-top">
    			<div class="container">
    				<div class="navbar-header">
    					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    						<span class="sr-only">Toggle navigation</span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    					</button>
    					<a class="navbar-brand" href="#">Biogen<sub style="font-size:50%">&nbsp;TM</sub></a>
    				</div>
    				<div id="navbar" class="navbar-collapse collapse">
    					<ul class="nav navbar-nav navbar-left">
    						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;MENU&nbsp;<span class="caret"></span></a>
    							<ul class="dropdown-menu">
    								<li><a href="#">Home</a></li>
    								<li><a href="#">Core Courses</a></li>
    								<li><a href="#">Functional Courses</a></li>
    								<li><a href="#">Elective Courses</a></li>
    								<li><a href="#">Hot Topics</a></li>
    								<li><a href="#">View All Courses</a></li>
    								<li><a href="#">Learning Assignment Form</a></li>
    							</ul>
    						</li>
    					</ul>
    					<form class="navbar-form navbar-left" role="form">
    						<div class="form-group has-feedback">
    							<input type="text" class="form-control" placeholder="Search..."/>
    							<i class="form-control-feedback glyphicon glyphicon-search"></i>
    						</div>
    					</form>
    					<ul class="nav navbar-nav navbar-right">
    						<li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Jitendra Ram</a></li>
    					</ul>
    				</div>
    			</div>
    		</nav>
    		<div class="row">
    			<!-- aside panel -->
    			<div class="col-sm-3 col-md-2 sidebar" id="sidebarPanel">
    				<div class="section">
    					<h5>Course Type</h5> 
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk1"/> New
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk2"/> Core
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk3"/> Functional
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk4"/> Electives
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk5"/> Hot Topics
    					</label>
    				</div>

    				<div class="section">
    					<h5>Functional Competency</h5> 
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk1"/> Compliance
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk2"/> Finance
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk3"/> Marketing
    					</label>
    				</div>

    				<div class="section">
    					<h5>Core Curriculum</h5> 
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk1"/> Doing Business at Biogen
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk2"/> Values in Action
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk3"/> The Science of Biogen
    					</label>
    				</div>

    				<div class="section">
    					<h5>Leadership Competency</h5> 
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk1"/> Define Strategy
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk2"/> Core
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="option1" id="chk3"/> Functional
    					</label>
    				</div>
    			</div>
    			<!-- center panel -->
    			<div class="col-sm-9 col-md-10 main">
    				<h3 class="page-header">All Learning Content</h3>
    				<!--<c:ErrorCmp id="errorPanel"/>-->
    				<div id="centerPanel"/>
    			</div>
    			<div id="toTop">^ Back to Top</div>
    		</div>
    	</div>
    </body>
    <script type="text/template" id="center-template">
    	<div class="row"/>
    </script>
    <script type="text/template" id="center-item-template">
    	<% _.each(bWrappers, function(item, index) { %>
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    		<div class="placeholder">
    			<img src="<%= item.imgSrc %>" class="img-responsive" alt="Generic Thumbnail" />
    			<hr/>
    			<h4><%= item.title %></h4>
    			<span class="text-muted">Something else</span>
    			<p style="padding-top: 5px;"><%= item.description %></p>
    		</div>
    	</div>
    	<% }); %>
    </script>
</apex:page>