<apex:page standardController="Announcement__c">
<script>
$(document).ready(function(){

        CKEDITOR.on('instanceReady', function(e) {
            if (e.editor.config.magic) return;
            var target = e.editor.config.bodyId;
            var name = e.editor.name;
            e.editor.destroy();

            CKEDITOR.editorConfig = function( config ) { config.magic = true; }
            CKEDITOR.replace(name, {
                        height : 300,
                        bodyId : target
            });
        });
    });
</script>
    <apex:form >
        <apex:pageBlock title="Announcement" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Detail" columns="2">
                <apex:inputField style="width: 400px;" value="{!Announcement__c.name}"/>
                <apex:inputField value="{!Announcement__c.Publish_Date__c}" required="true"/>
                <apex:inputField value="{!Announcement__c.Audience_Role__c}"/>
                <apex:inputField value="{!Announcement__c.Expiration_Date__c}"/>
                <apex:inputField value="{!Announcement__c.Inet_Announcement__c}"/>
                <apex:inputField value="{!Announcement__c.Audience_Location__c}"/>
                <!--<apex:inputField value="{!Announcement__c.Home_Page_Announcement__c}"/>-->
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Body" columns="1">
                <apex:inputField value="{!Announcement__c.Body__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <apex:includeScript value="{!$Resource.jquerymin}"/>
</apex:page>