<apex:page sidebar="false" title="" showHeader="false" standardStylesheets="false" controller="HRConnectTrackController" extensions="HRConnectRemoter">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>HRConnect</title>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />

    <!-- Bootstrap core CSS -->
    <apex:stylesheet value="{!$Resource.bootstrap}"/>

    <!-- Custom styles for this template -->
    <apex:stylesheet value="{!$Resource.bgcommon}"/>
    
    <!-- Custom styles for using typeahead.js with bootsrtap 3  -->
    <apex:stylesheet value="{!$Resource.typeahead_bootstrap_css}"/>


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<style>
.bgcust-case
{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 75%;
    padding: 0 0;
    min-height:300px;
}
.bgcust-btn {
  color: #333333;
  background-color: #FAFAFA;
  border-color: #cccccc;
  margin-bottom: 10px;
}
.bgcust-btn:hover
{
  background-color: #ebebeb;
  border-color: #adadad;
}
.icon-clip {
    background-image:url('{!$Resource.attach_button_icon}');
    background-repeat:no-repeat;
    //background-attachment:fixed;
    background-position:right;
}

.bgcust-case-cont
{
    border: 1px solid #D6D6D6;
    padding: 10px 20px 20px 20px;
    background-color: white;
}

.bgcust-hide
{
    display: none;
}
.bgcust-casenav
{
    font-weight:bold;
}
.bgcust-casenav a
{
    text-decoration: none;
    color: #D6D6D6;
}
.bgcust-td
{
    padding-top:15px !important;
    padding-bottom:15px !important;
    font-weight: 700;
}
.bgcust-td:hover
{
    cursor: pointer;
}
.bgcust-comcb
{
    text-align: right;
    //padding-right: 30px !important;
    //margin-right: 30px !important;
    font-weight: bold;  
}
.table .bgcust-commenttb
{
    background-color: #f8f8f8;
    margin: 0;
    //border-bottom: 0 !important;
}
.bgcust-nopad
{
    padding: 0 !important;  
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    //border-collapse: collapse;
}
.bgcust-nopad td
{
    border-bottom: 0 !important;
}
.input-group
{
    width: 100%;
}
.bgcust-comtd
{
    border-top: 0 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    //border-bottom: 1px solid #dddddd !important;
    //border-bottom: 0 !important;
    //border-bottom: 1px solid #D6D6D6;
}
.bgcust-ctd
{
    padding-top:15px !important;
    padding-bottom:15px !important;
    border-top: 0 !important;   
}

.bgthnobo th
{
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    //border-collapse: collapse;
}

.messageText
{
    color: red;
    font-weight:bold;
    margin-left: 10px;
}


</style>
</head>
<script>
    
    var opencaseId = '';
    var collapseimg = "{!$Resource.line_item_less_arrow}";
    var expandimg = "{!$Resource.line_item_more_arrow}";
    var casedetarray = [];
    
    function linkify(inputText) {
        var replacedText, replacePattern1, replacePattern2, replacePattern3;
    
        //URLs starting with http://, https://, or ftp://
        replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
        replacedText = inputText.replace(replacePattern1, '<pre style="padding:0;margin:0;border:none;background-color:inherit;font-family:inherit;" class="bgemburl"><a href="$1" target="_blank">$1</a></pre>');
        //overflow:hidden;
        
        /*URLs starting with "www." (without // before it, or it'd re-link the ones done above).
        replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
        replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');
        */
    
        /*Change email addresses to mailto:: links.
        replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
        replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
        */
        //alert(replacedText);
        return replacedText.replace(/\n/g, "<br />");
    }
    
    function showCaseDetails(id)
    {
        if(id != null && id != ''){
            var casebody = '';
            var caseuploadfile='';
            var innhtm = '';
            var innhtm1 = '';
            var un;
            //if (document.getElementById(id).innerHTML == '')
            if (casedetarray.indexOf(id) >= 0)
            {
                hideCaseDetails(id);
            }
            else
            {
               
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.HRConnectRemoter.getCaseDetails}',
                id, 
                function(result, event){
                    if (event.status) {
                        //var abody = $('<div/>').html(result.Body__c).text();
                        //alert('In showCaseDetails, body='+result[0].CommentBody);
                        //alert(new Date (result[0].LastModifiedDate));
    
                        for (var i=0; i<result.length; i++)
                        {
                                
                            
                            if (result[i].userid == "{!$User.Id}")
                                un = "Me";
                            else
                                un = "HR Connect";
                                
                            d = new Date(result[i].lastmaodifieddate);
                            ds = d.toString();
                            ds = ds.substring(ds.indexOf(" ")+1)
                            //ds = ds.substring(0,ds.lastindexOf(":")+2);
                          if(result[i].dataType=="case") 
                         {   
                           casebody += '<tr style="border-bottom: 1px solid #dddddd !important;">'+'<td class="bgcust-comcb bgcust-comtd">'+un+'</td>'+'<td style="padding-right:0 !important;" class="bgcust-comtd bgblue">'
                                +linkify(result[i].name)
                                +'<br><span style="margin-top: 5px; color: #4B4B4B; font-size: 12px;">'+ds.substring(0,ds.lastIndexOf(":")+3)+'</span></td>'+'<td class="bgcust-ctd" width="3%"></td></tr>';    
                         }
                           if(result[i].dataType=="Attachment") 
                         {   
                           caseuploadfile += '<tr style="border-bottom: 1px solid #dddddd !important;">'+'<td class="bgcust-comcb bgcust-comtd">'+un+'</td>'+'<td style="padding-right:0 !important;" class="bgcust-comtd bgblue">'
                                +linkify(result[i].name)
                                +'<br><span style="margin-top: 5px; color: #4B4B4B; font-size: 12px;">'+ds.substring(0,ds.lastIndexOf(":")+3)+'</span></td>'+'<td class="bgcust-ctd" width="3%"></td></tr>';    
                         }
                              
    
                         }
                        
                           innhtm = 
                            '<table class="table bgcust-commenttb">'+
                            '<tbody>'+
                   casebody+
                    '<tr><td width="17%" class="bgcust-comcb bgcust-ctd">Comment</td><td style="padding-right:0 !important;" class="bgcust-ctd">'+
                            '<div class="input-group">'+
                            '<input id="X'+id+'" type="text" class="form-control" placeholder="Add a comment...">'+
                            '<span class="input-group-btn">'+
                            '<button onclick="setCaseComment(\''+id+'\');" type="button" class="btn btn-warning">Reply</button>'+
                            '</span>'+
                            '</div>'+
                            '</td><td class="bgcust-ctd" width="3%"></td></tr>'+
                             caseuploadfile+
                           '</tbody></table>';
                            
                        if (document.getElementById(id).innerHTML != innhtm)
                            document.getElementById(id).innerHTML = innhtm;                     
                    } else if (event.type === 'exception') {
                        alert('oops...'+event.message);
                    } else {
                        alert('oops...'+event.message);
                    }
                }, 
                {escape: true}
                ); 
                
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.HRConnectRemoter.getCaseStatus}',
                    id,
                    function(result, event){
                        if (event.status) {
                            var caseStatus = result.Case_Status__c;
                            if(caseStatus == 'Closed'){
                                document.getElementById('new'+id).style.display = '';
                            }
                            else{
                                document.getElementById(id).className = 'bgcust-nopad';             
                                document.getElementById('tr'+id).style.display = 'block';
                            }
                        } else if (event.type === 'exception') {
                            alert('oops...'+event.message);
                        } else {
                            alert('oops...'+event.message);
                        }
                    },
                    {escape: true}
                );
                
                   
                document.getElementById('Y'+id).innerHTML = '<img src="'+collapseimg+'"/>';        
                //document.getElementById('Y'+id).onClick = function(){ hideCaseDetails('Y'+id); } ;
                                
                casedetarray.push(id);
            }
        }
    }
    
    function hideCaseDetails(id)
    {
        document.getElementById('tr'+id).style.display = 'none';
        document.getElementById(id).className = 'bgcust-hide';
        document.getElementById('new'+id).style.display = 'none';
        document.getElementById('Y'+id).innerHTML = '<img src="'+expandimg+'"/>';
        casedetarray.splice(casedetarray.indexOf(id),1);        
    }    


    function setCaseComment(id)
    {
        //alert('In setCaseComment, id: '+id);
        //alert(document.getElementById('X'+id).value);
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.HRConnectRemoter.setCaseComment}',
            id,document.getElementById('X'+id).value, 
            function(result, event){
                if (event.status) {
                    //alert('setCaseComment done');
                    hideCaseDetails(id)
                } else if (event.type === 'exception') {
                    alert('oops...'+event.message);
                } else {
                    alert('oops...'+event.message);
                }
            }, 
            {escape: true}
        );    
    }
</script>
<body onload="showCaseDetails('{!caseId}')">
<!-- ********************************************************************************** -->
    <c:HRConnectPageHeader />
<!-- ********************************************************************************** -->
    <c:HRConnectSubHdr pageid="CONTACT" />
<!-- ********************************************************************************** -->
<!-- Begin page content -->
    <div class="container bgcust-case">   
<!-- ********************************************************************************** -->
        <c:HRConnectContactInfo />
<!-- ********************************************************************************** -->

        <div class="bgcust-case-cont">
<!-- ********************************************************************************** -->         
        <c:HRConnectCaseNav pageid="TRACK"/>
<!-- ********************************************************************************** -->         
        <apex:pageMessages />
        <h5 style="font-weight:700; font-family: inherit; margin-top: 20px;">See all of your requests below.</h5>
        <apex:form enctype="multipart/form-data" id="form1">
        <apex:pageBlock id="pb">
        <table class="table"> <!-- table-hover table-bordered-->
            <thead>
            <tr class="bgthnobo">
                <th width="9%" style="border-left: 1px solid #dddddd !important; font-weight:400;">Date Created</th>
                <th width="8%" style="font-weight:400;">Last Update</th>
                <th width="68%" style="font-weight:400;">Description</th>
                <th width="12%" style="font-weight:400;">Status</th>   
                <th width="3%" style="border-right: 1px solid #dddddd !important; font-weight:400;">&nbsp;</th>                             
            </tr>
            </thead>
            <tbody>
            <apex:repeat value="{!CaseHistory}" var="c">
            <tr onclick="showCaseDetails('{!c.cs.id}')">
                <td class="bgcust-td" style="border-left: 1px solid #dddddd !important;">{!c.CreateDate}</td>
                <td class="bgcust-td">{!c.ModDate}</td>
                <td class="bgcust-td" style="color: #0B5C88;font-weight: 400;">{!c.cs.Description}</td>
                <td class="bgcust-td bgorange">
                    <span style="padding-right: 20px;">{!c.cs.Case_Status__c}</span></td>
                <td class="bgcust-td" style="border-right: 1px solid #dddddd !important; vertical-align: middle; padding-left:0 !important;">
                    <span id="Y{!c.cs.Id}" ><img src="{!$Resource.line_item_more_arrow}"/></span></td>
            </tr>
            <tr>
                <td colspan="5" class="bgcust-hide" id="{!c.cs.Id}"></td>
            </tr>
            <tr id="tr{!c.cs.Id}" style="display:none;" bgcolor="#f8f8f8">
                
                <td class="bgcust-comcb bgcust-td" width="17%" style="border-left: 1px solid #dddddd;">Upload File &nbsp;&nbsp;</td>
                <td class="bgcust-comcb bgcust-td" colspan="2" >
                <apex:inputFile value="{!filebody}" filename="{!filename}" id="file"/></td>
                <td class="bgcust-comcb bgcust-td" >
                    <apex:commandLink action="{!submitFile}" value="Upload" styleclass="btn btn-warning">
                        <apex:param name="id" value="{!c.cs.Id}" assignTo="{!caseId}" />
                    </apex:commandLink></td>    
                <td class="bgcust-comcb bgcust-td" width="3%" style="border-right: 1px solid #dddddd">&nbsp;</td>
                
            </tr>
            <tr bgcolor="#f8f8f8" id="new{!c.cs.Id}" style="display:none;">
                <td colspan="5"  style="padding-right:20px; border: 1px solid #dddddd;">
                    <div style="float:right;">
                    <apex:commandLink action="{!redirectAskHR}" value="Open a case" styleclass="btn btn-warning">
                        <apex:param name="id" value="{!c.cs.Id}" assignTo="{!caseId}" />
                    </apex:commandLink>
                    </div>
                    
                </td>
            </tr>
            </apex:repeat>
            
            
            <tr>
                <td colspan="5" width="100%">
                
                <apex:panelGrid columns="3" style="float:right; margin: 15px 15px 0 15px">
                <apex:outputText style="border-top: 0px">{!(pageNumber * size)+1-size}-{!IF((pageNumber * size)>noOfRecords, noOfRecords,(pageNumber * size))} of {!noOfRecords}</apex:outputText>
                <apex:commandButton disabled="{!IF(hasPrevious = true,false,true)}" styleClass="btn btn-default bgroundbutton bggraybackg" image="{!IF(hasPrevious = true,$Resource.button_less_arrow,$Resource.button_less_arrow_gray)}" action="{!previous}" value="" title="Previous page" style="display:block;margin-left: 10px;outline: none;" />
                <apex:commandButton disabled="{!IF(hasNext = true,false,true)}" styleClass="btn btn-default bgroundbutton bggraybackg" image="{!IF(hasNext = true,$Resource.button_more_arrow,$Resource.button_more_arrow_gray)}" action="{!next}" value="" title="Next page" style="display:block;margin-left: 10px;outline: none;"/>
                </apex:panelGrid>
                
                </td>
            </tr>
            </tbody>
            
        </table>
        </apex:pageBlock>
        </apex:form>
        </div>
    </div>
<!-- ********************************************************************************** -->      
    <c:HRConnectPageFooter />
<!-- ********************************************************************************** -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <apex:includeScript value="{!$Resource.bgcommonjs}"/>
    <apex:includeScript value="{!$Resource.jquerymin}"/>
    <apex:includeScript value="{!$Resource.bootstrapminjs}"/>    
</body>
</html>
</apex:page>