<apex:page sidebar="false" title="" showHeader="false" standardStylesheets="false" controller="HRConnectHomeController" extensions="HRConnectRemoter">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>HRConnect</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />

    <!-- Bootstrap core CSS -->
    <apex:stylesheet value="{!$Resource.bootstrap}"/>

    <!-- Custom styles for this template -->
    <apex:stylesheet value="{!$Resource.bgcommon}"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<style>
body
{
    margin-top: 64px;
}
.bgcust-nav1
{
    //margin-top: 100px;
    //margin: 40px auto 0px auto;
    //text-align: center;
    width: 100%;
    background-image:url('{!$Resource.homenavbg}');
    padding-top: 50px;
    padding-bottom: 40px;

    //border-bottom: 1px solid #D6D6D6;
    //margin-left: 0;
    //margin-right: 0 !important;
    //padding: 0 15px;
    //margin-bottom:0;
    //padding-bottom:0;
    //border: 1px solid #999;
}
.bgcust-nav1-5
{
    padding-left: 0;
    padding-right: 0;
}
.bgcust-nav1-4
{
    padding-left: 20%;
    padding-right: 20%;
}
.bgcust-nav1-3
{
    padding-left: 25%;
    padding-right: 25%;
}
.bgcust-nav1 h3
{
    //color: #FF9900;
    margin-bottom: 0;
    font-family: inherit;
    font-size: 22px;
    margin-top: 13px;
}
.bgcust-nav1 a
{
    text-decoration: none;
}
.bgcust-subhdr
{
    //text-align: center;
    width: 100%;
    //height: 300px;
    //background-color: #F0F0F0;
    border-bottom: 1px solid #D6D6D6;
    padding-top:20px;
    padding-bottom:20px;
    background-image:url('{!$Resource.hometopbg}');
}
/*.bgcust-subhdr h3
{
    color: #0066CC;
}*/
.bgcust-subhdr-lt
{
    border-right: 1px solid #D6D6D6;
    text-align: right;
    padding: 20px 20px 15px 0;
}
.bgcust-subhdr-rt
{
    text-align: left;
    //padding-right: 100px;
    padding-left:20px;
}
.bgcust-subhdr-rt>h5
{
    //font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: inherit;   //'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4B4B4B;
}
.bgcust-subhdr-rt>h6
{
    //max-height:40px;
    //overflow: hidden;
    margin: 0;
    font-family: inherit;
    color: #4B4B4B;
    font-size: 13px;
}
/*.bgcust-subhdr-rt p
{
    color: #FF9900;
    text-decoration:underline;
}

#popover-bgcust-pop
{
    max-width:40%;
}*/

</style>
<script>
$(window).load(function(){
//$("#pop").popover({ title: 'Look!  A bird image!', content: 'hi!' });
$('[data-toggle="popover"]').popover({
    trigger: 'hover'
//        'placement': 'bottom'
    ,template: '<div class="popover" id="popover-bgcust-pop"><div class="arrow"></div><div class="popover-content"><p></p></div></div>'
});
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});
});

</script>
</head>
<body>
<!-- ********************************************************************************** -->
    <c:HRConnectPageHeader />
<!-- ********************************************************************************** -->

<!-- Begin page content -->
    <div class="container bgcust-subhdr">
        <div class="row">
            <div class="col-md-5 bgcust-subhdr-lt">
                    <img src="{!$Resource.hr_headline}"></img>
            </div>
            <div class="col-md-7 bgcust-subhdr-rt">
                    <h5>Welcome to HRConnect,</h5>
                    <h6><apex:outputText value="{!homepageann}" styleclass="bgemburl" escape="false"/>
                    <!--Your One-Stop for all your HR related information!<br></br>
                    Click <a style="text-decoration: underline;" href="/apex/HRConnectNew" class="bgorange">here</a> to learn more about HRConnect
                    -->
                    </h6>
            </div>
        </div>
    </div>

    <div class="container bgcust-nav1 {!marginclass}">
        <div class="row">
            <apex:repeat value="{!Navitems}" var="items">
                <div class="{!items.bsclass}">
                    <a href="{!items.loc}"><img src="{!$Resource.homenavimages}/{!items.imagename}" ></img>
                    <h3 class="bgorange">{!items.coltitle}</h3></a>
                    <p>{!items.coltext}</p>
                </div>
            </apex:repeat>
        </div>
    </div>
<!-- ********************************************************************************** -->
    <c:HRConnectPageFooter />
<!-- ********************************************************************************** -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <apex:includeScript value="{!$Resource.bgcommonjs}"/>
    <apex:includeScript value="{!$Resource.jquerymin}"/>
    <apex:includeScript value="{!$Resource.bootstrapminjs}"/>
</body>
</html>
</apex:page>