<apex:page standardController="User" extensions="HRConnectRemoter" sidebar="false" title="" showHeader="false" standardStylesheets="false">
<!--<div id="container" style="width:500px">-->
<script>
function saveprofile()
{
	var lang = document.getElementById('{!$Component.theform.language}').value;
	var locale = document.getElementById('{!$Component.theform.locale}').value;
	var tz = document.getElementById('{!$Component.theform.timezone}').value;
	
	/*alert('in saveprofile');
	alert('lang: '+lang);
	alert('locale: '+locale);
	alert('tz: '+tz);*/
    	Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.HRConnectRemoter.saveUserProfile}',
            lang,locale,tz,
            function(result, event){
                if (event.status) {
					//alert('favorite saved');
                } else if (event.type === 'exception') {
                    //alert('oops...'+event.message);
                } else {
                    //alert('oops...'+event.message);
                }
            }, 
            {escape: true}
        );
    
    //alert('done remoting');   
	parent.closeIFrame();
	return false;
}
</script>
<apex:form id="theform">
        <!--  <apex:pageBlock title="" mode="detail">-->
                    <Label>Locale</Label>
                    <apex:inputField html-name="locale" id="locale" value="{!user.LocaleSidKey}" html-autocomplete="off" html-placeholder="Locale" />
                    <Label>Time Zone</Label>
                    <apex:inputField html-name="timezone" id="timezone" value="{!user.TimeZoneSidKey}" html-autocomplete="off" html-placeholder="Time Zone" />					   
                    <Label styleclass = "form-control bgcust-case-Label">Language</Label>
                    <apex:inputField html-name="language" id="language" value="{!user.LanguageLocaleKey}" html-autocomplete="off" html-placeholder="Language" />
            		<apex:commandButton action="{!save}" value="Save" onclick="saveprofile();"/>
              <!--  <apex:pageBlockSection title="Edit Profile" columns="2">
                <apex:inputField value="{!user.firstname}"/>
                <apex:inputField value="{!user.lastname}"/>
                <apex:inputField value="{!user.communitynickname}"/>
                <apex:inputField value="{!user.email}"/>
                <apex:inputField value="{!user.phone}"/>
                <apex:inputField value="{!user.mobilephone}"/>
                <apex:inputField value="{!user.aboutme}" style="width: 360px; height: 100px;"/>
                <chatter:userPhotoUpload id="uploadphoto" showOriginalPhoto="true" />                
             </apex:pageBlockSection>
        </apex:pageBlock>-->
    </apex:form>
<script>

</script>    
</apex:page>