<apex:page id="pageLMS" showHeader="false" sidebar="false" standardStylesheets="false" standardController="LMS_Link__c">
    <apex:stylesheet value="{!URLFOR($Resource.LMSPortalResources, '/css/salesforce1style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LMSPortalResources, '/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LMSPortalResources, '/css/bootstrap-theme.min.css')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.LMSPortalResources, '/js/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LMSPortalResources, '/js/bootstrap.min.js')}"/>
    <c:LMSPortal_Inline documentAttribute="false" />
</apex:page>