<apex:component controller="HRP_HeaderController">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/apex/HRP_Home" target="_parent"><img id="logoContainer" class="navbar-brand" src="{!URLFOR($Resource.HRPResources, '/images/BiogenHRConnectLogo')}"/></a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <button id="headerDropdownIcon" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar headerIconBar"></span>
                <span class="icon-bar headerIconBar"></span>
                <span class="icon-bar headerIconBar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="header-menu">
            <ul class="nav navbar-nav navbar-brand navbar-right text-right" id="headerLinksList">
                <li><a href="{!contactUsLink}" target="_parent"><span class="header-menu-label">Contact Us</span><img class="header-menu-icon" src="/resource/1438970661000/homenavimages/main_nav_small_find_answers.png" /></a></li>
            </ul>
        </div>
    </div>
</nav>
</apex:component>