<apex:component >
    
    <!-- Bootstrap Overrides -->
    <style>
        .list-inline{
        padding-left: 30px;
        }
        .filter-tag-icons{
        top:3px;
        margin-left:5px;
        }
        .search-btn-col{
        padding-top:26px;
        }
        .panel-heading{
            background: none !important;
            border: none !important;
            box-shadow: none !important;
            }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="keywordSearch" class="control-label">Search By:</label>
                                    <input type="text" class="form-control" id="keywordSearch" placeholder="Enter Keywords..."/>
                                </div>
                                <div class="col-sm-2 search-btn-col">
                                    <button type="button" class="btn">Search</button>
                                </div>
                                <div class="col-sm-4 search-btn-col">
                                    <button type="button" class="btn">Refresh Page</button>
                                </div>
                            </div>
                        </form>
                        <div class="row pts">
                            <ul class="list-inline">
                                <li class="pln">Filtered 6 courses matching keywords:</li>
                                <li class="va-mid"><button type="button" class="btn btn-block filter-tags">Finance <i class="filter-tag-icons glyphicon glyphicon-remove"></i></button></li>
                                <li class="va-mid"><button type="button" class="btn btn-block filter-tags">Leadership <i class="filter-tag-icons glyphicon glyphicon-remove"></i></button></li>
                            </ul>    
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Building_Accountability_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>401: Building Accountability</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Capital_Budgeting_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>301: Capital Budgeting</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Financial_Security_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>431: Financial Security</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix visible-sm-block"></div>
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Body_Language_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>788: Body Language for Leaders</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix visible-md-block visible-lg-block"></div>
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Personal_Finance_Fundamentals_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>541: Personal Finance</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 text-overflow">
                                <a onclick="showSearchResultSelected();">
                                    <div class="thumbnail">
                                        <img class="img-responsive img-rounded" src="{!URLFOR($Resource.LMSPortalResources, '/images/Time_Value_Of_Money_Banner.png')}"/>
                                        <div class="caption text-center">
                                            <p>659: Time Value of Money</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->
    <script>
        function showSearchResultSelected(){
            $("#learningCourseSelected").show();
            $("#searchResultsDiv").hide();
        }
    </script>
</apex:component>