<apex:component controller="LMSPortal_AllLearningContentController">
    <head>
        <!-- Bootstrap Overrides -->
        <style>
            .list-inline{
            padding-left: 30px;
            }
            .filter-tag-icons{
            top:3px;
            margin-left:5px;
            }
            .refresh-btn-col{
            padding-top:26px;
            }
            .panel-heading{
            background: none !important;
            border: none !important;
            box-shadow: none !important;
            }
        </style>
    </head>
    <div class="container-fluid">
        <apex:form >
            <apex:actionFunction name="learningResourcesFromJs" action="{!setFilterValue}" reRender="learningContentPanel">
                <apex:param assignTo="{!filterValue}" name="filterValue" value=""/>
            </apex:actionFunction>
        </apex:form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label for="filter" class="control-label">Sort By:</label>
                                            <select class="form-control">
                                                <option>Most Recent</option>
                                                <option>Most Popular</option>
                                                <option>Trending</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 refresh-btn-col">
                                            <button type="button" class="btn">Refresh Page</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <apex:repeat value="{!ContentFilters}" var="filterWrapper">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{!filterWrapper.fieldResult.Label}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <apex:repeat value="{!filterWrapper.picklistValues}" var="pVal">
                                                    <ul class="plain-list" id="contentFilterList">
                                                        <li>
                                                            <div class="checkbox">
                                                                <input type="checkbox" value="{!pVal.Value}" onchange="fireFilterContent(event.target);" />{!pVal.Label}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </apex:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </apex:repeat>                                
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="row">
                                    <apex:outputPanel layout="block" id="learningContentPanel">
                                        <!-- Loop through LMS Content records returned -->
                                        <apex:repeat value="{!bannerWrapperList}" var="wrapper">
                                            <div class="col-md-4 col-sm-12">
                                                <a onclick="showWhatsNewSelected();">
                                                    <div class="thumbnail">
                                                        <img class="img-responsive img-rounded" src="{!wrapper.bannerUrl}" />
                                                        <div class="caption text-center">
                                                            <p class="text-overflow">{!wrapper.contentRecord.Title__c}</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <apex:outputPanel layout="block" rendered="{!IF(MOD(wrapper.count,3) == 0, true, false)}">
                                                <div class="clearfix visible-md-block visible-lg-block"></div>
                                            </apex:outputPanel>
                                        </apex:repeat>
                                    </apex:outputPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Javascript -->
    <script>
    /* ---------------------------- */
    function showWhatsNewSelected(){
        $("#whatsNewDiv").hide();
        $("#learningCourseSelected").show();
    }
    function fireFilterContent(event){
        //This function will simply call the action function that will call the method and use the category Map to filter the content
        if($("event:checked")){
            var filterValue = $(event).val();
            console.log(filterValue);
            console.log('Checked');
            learningResourcesFromJs(filterValue);
        }
        
    }
    </script>
</apex:component>