<apex:component layout="block">
	<head>
		<apex:stylesheet value="{!URLFOR($Resource.LMSPortalResources, '/css/salesforce1style.css')}"/>
		<apex:stylesheet value="{!URLFOR($Resource.LMSPortalResources, '/css/bootstrap.min.css')}"/>
		<apex:stylesheet value="{!$Resource.LMSPortalMainCSS}"/>

		<!-- Component Attributes -->
		<apex:attribute name="title" required="true" type="String" description="Title Heading for the Tile" />
		<apex:attribute name="userFunctionalArea" type="String" description="User's Functional Area" />
		<apex:attribute name="requiredLearning" type="Boolean" description="Specifies if the component is the required learning component" />
		<apex:attribute name="functionalArea" type="Boolean" description="Specifies if the component is the functional area component" />
		<apex:attribute name="cmpFront" type="Boolean" description="Specifies that the referenced component is the component's front for flipped tiles" />
		<apex:attribute name="cmpBack" type="Boolean" description="Specifies that the referenced component is the component's back for flipped tiles" />
		<apex:attribute name="bgImgUrl" required="true" type="String" description="Value for the background color of the component" />
	</head>

	<!-- Front -->
	<apex:outputPanel layout="block" styleClass="container-fluid home-page-tiles" style="background-image:url('{!bgImgUrl}')" id="tileFluidWrapperFront" rendered="{!IF(requiredLearning, true, IF(cmpFront, true, false))}">
		<div class="row titleRow" style="top:{!IF(requiredLearning,'175px','110px')}">
			<div class="col-sm-12 text-center">
				<div class="tileTitle">{!IF(functionalArea, userFunctionalArea, title)}</div>
			</div>
		</div>
		<apex:outputPanel styleClass="list-group text-center" layout="block" rendered="{!IF(requiredLearning, true, false)}">
			<div class="myLearningLinkList">
				<a href="https://biogen.sumtotalsystems.com/sumtotal/app/management/LMS_LearnerHome.aspx?FromLogin=1" target="_blank">
					<li class="list-group-item learningLink">{!$Label.Sumtotal}</li>
				</a>
				<a href="http://isotrain/isotrain6/" target="_blank">
					<li class="list-group-item learningLink">{!$Label.ISOTrain}</li>
				</a>
			</div>
		</apex:outputPanel>
	</apex:outputPanel>

	<!-- Back -->
	<apex:outputPanel layout="block" styleClass="container-fluid home-page-tiles" id="tileFluidWrapperBack" rendered="{!IF(cmpBack, true, false)}">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="tileRearTitle">
					<div class="tileTitleBack">{!title}</div>
				</div>
			</div>
		</div>
	</apex:outputPanel>


	<!-- Javascript Libraries -->
	<apex:includeScript value="{!URLFOR($Resource.LMSPortalResources, '/js/jquery.min.js')}"/>

</apex:component>